div#tudo{
	margin-top:-80px;
	background-color:;	
	background: url("../imagens/dicasBack.jpg" ) no-repeat;
	margin-bottom:-450px;
	}
	
div#texto h3{
font-family: 'Alegreya Sans','Lora', serif;
color:#FFFFFF;
}

div#texto h1{
font-family: 'Alegreya Sans','Lora', serif;
color:#FFFFFF;
}