
div#cabecalho {
	border-bottom: 1px #FFFAFA solid; /* borda do topo do cabeçalho, sequencia (espessura da borda, cor da borda, tipo da borda) */
	height: 170px;                   /* Definindo a altura do cabeçalho*/
	                                          /*background: url("letraEspelho2.png") no-repeat 0px 50px; /*Usando uma imagem como fundo para o cabeçalho, na sequencia vem o "no-repeat"  para a imagem n ficar repetindo por todo cabeçalho, deslocamento lateral "0px", deslocamente vertical "100px" */
	background: url("../imagens/banner2.jpg") no-repeat;
	background-size: cover;
	
	
}


div#cabecalho h1{								/*Formatando a letra do cabeçalho*/
	font-family: Arial, san sans-serif;
	font-size: 30pt;
	color: #CDC9C9;
	text-shadow: 1px 1px 1px rgba(0,0,0, .6);
	padding: 0px;
	margin-bottom: 0px;   /* configurando margem abaixo do h1 */
	margin-top: 0px;
	width:500px;               /*pra letra n fica alinhada uma em baixo da outra*/
	height:400px;
	position:absolute;
	top:50px;                        /*distancia da fonte pro topo*/
	left:37%;
	margin-left:-50px;
	

			
}

div#cabecalho h2{
	font-family: Arial, sans-serif;
	color: #CDC9C9;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;  /*configurando a margem de cima do h2*/
	width:400px;
	height:400px;
	position:absolute;
	top:110px;                        /*distancia da fonte h1 de cima*/
	left:40%;

	margin-left:-50px;
}

h5{ 
                                    /*text-align:right 150px; */
margin-top: 0px;
padding: 0px;
position:relative;
margin-left: 80%;
font-size:13pt;

}


/*#but {                                 EM ABERTO NÃO ESQUECERs
display: inline-block;
background-color: #8B8989;
color: #444;
padding: 10px 30px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
border: 0px;
position:relative;
left:1150px;
top:40px;
margin-top:0px;

}*/

