div#dicas {
	margin-top:-19px;
	background-color:#BEBEBE;
                       
	
}

div#dicas a{
	margin-left:40px;
	color:#0000FF;
	
}

div#dicas p{
	margin-left:40px;
    font-family: 'Alegreya Sans','Lora', serif;
	color:#FFA500;
	letter-spacing: 1px;
	
}

div#dicas h1{
	margin-left:20px;
	font-family: 'Alegreya Sans','Lora', serif;
	color:#FFA500;
}

div#dicas h3{
	margin-left:20px;
	font-family: 'Alegreya Sans','Lora', serif;
	color:#FFA500;

}

div#aumentoMusc {
	background: url("../imagens/dicasMusc.jpg" ) no-repeat;
    left:-50px;
	}

div#alimentacao {
	
    margin-top:-13px;
	background: url("../imagens/dicasBack.jpg" ) no-repeat;
}
div#suplementacao {
	margin-top:-13px;
	background: url("../imagens/dicasBack.jpg" ) no-repeat;
}
div#descanso{
	margin-top:-13px;
	background: url("../imagens/dicasBack.jpg" ) no-repeat;
}