
div#promo h1 {								
													
color:#fff;
margin-top: 0px;
padding: 0px;
position:relative;
left: 45%;
margin-bottom:0px;

}



div#desc h1 {								
													
color:#fff;
margin-top: 0px;
padding: 0px;
position:relative;
left: 30%;
right:30%;
margin-bottom:0px;

}
