/*rodapé do sistema */
#rodape 
        {
            background-color: #000000;
            text-align: center;
            border: solid 1px Gray;
            font-size:8pt;
            font-family: Verdana;
            font-weight:bold;
            width:100%;
			height:6%;
            color:#FF4500;
            position:fixed;
            bottom:0px;
            left:0px;
			background-size: cover;
        }


	