.voltarTopo{
	width:60px;
	height:65px;
	display:block;
	background: url('../imagens/seta1.png') no-repeat;
	position:fixed;
	bottom: 0;
	right:20px;
}


.voltarTopo:hover{
	cursor: pointer;
	background-position: 0 -60px;
}